@if (isReset()) {
  <p-card header="Reset Password">
    @if (done()) {
      <p-message severity="success" text="If the e-mail address matches an account, a reset link has been sent." />
    } @else {
      <form [formGroup]="resetForm" class="building-form" (ngSubmit)="submitReset()">
        <div class="field">
          <label for="pw-email">E-mail *</label>
          <input pInputText id="pw-email" type="email" formControlName="email" autocomplete="off" />
          @if (resetForm.controls.email.invalid && resetForm.controls.email.touched) {
            <p-message severity="error" text="A valid e-mail address is required" />
          }
        </div>
        @if (error()) {
          <p-message severity="error" [text]="error()!" />
        }
      </form>
    }

    <ng-template pTemplate="footer">
      <div class="tbl-caption">
        <p-button label="Back" severity="secondary" [text]="true" icon="pi pi-arrow-left" (onClick)="back()" [disabled]="saving()" />
        <span class="spacer"></span>
        @if (!done()) {
          <p-button label="Reset" icon="pi pi-envelope" (onClick)="submitReset()" [loading]="saving()" />
        }
      </div>
    </ng-template>
  </p-card>
} @else {
  <p-card header="Change Password">
    @if (done()) {
      <p-message severity="success" text="Your password has been changed." />
    } @else {
      <form [formGroup]="changeForm" class="building-form" (ngSubmit)="submitChange()">
        @if (hasUser()) {
          <div class="field">
            <label for="pw-user">Username</label>
            <input pInputText id="pw-user" formControlName="username" autocomplete="off" />
          </div>
        }
        <div class="field">
          <label for="pw-old">Current Password *</label>
          <input pInputText id="pw-old" type="password" formControlName="oldPassword" autocomplete="current-password" />
        </div>
        <div class="field">
          <label for="pw-new">New Password *</label>
          <input pInputText id="pw-new" type="password" formControlName="newPassword" autocomplete="new-password" />
        </div>
        <div class="field">
          <label for="pw-retype">Retype New Password *</label>
          <input pInputText id="pw-retype" type="password" formControlName="retypePassword" autocomplete="new-password" />
        </div>
        @if (error()) {
          <p-message severity="error" [text]="error()!" />
        }
      </form>
    }

    <ng-template pTemplate="footer">
      <div class="tbl-caption">
        <p-button label="Back" severity="secondary" [text]="true" icon="pi pi-arrow-left" (onClick)="back()" [disabled]="saving()" />
        <span class="spacer"></span>
        @if (!done()) {
          <p-button label="Change" icon="pi pi-check" (onClick)="submitChange()" [loading]="saving()" />
        }
      </div>
    </ng-template>
  </p-card>
}
