@if (loading()) {
  <div class="center"><p-progressSpinner strokeWidth="4" /></div>
} @else if (error()) {
  <p-message severity="error" [text]="error()!" />
  <div class="mt"><p-button label="Retry" icon="pi pi-refresh" (onClick)="reload()" /></div>
} @else {
  <p-table
    [value]="rows()"
    dataKey="key"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <div class="tbl-caption">
        <span>{{ rows().length }} setting(s)</span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Setting</th>
        <th>Value</th>
        <th class="col-actions"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-r>
      <tr>
        <td>{{ r.name }}</td>
        <td>
          @if (editable()) {
            <p-select
              [options]="r.options"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="r.selected"
              (onChange)="onChange(r)"
              appendTo="body"
              [style]="{ 'min-width': '16rem' }"
            />
          } @else {
            {{ labelFor(r) }}
          }
        </td>
        <td class="row-actions">
          @if (editable()) {
            <p-button
              label="Save"
              icon="pi pi-check"
              [disabled]="!r.dirty"
              [loading]="r.savingRow"
              (onClick)="save(r)"
            />
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr><td colspan="3">No settings found.</td></tr>
    </ng-template>
  </p-table>
}
